
# Node 

node_modules/



# Python Virtual Environments

.venv/
venv/
env/


# Python Bytecode and Cache

__pycache__/
*.pyc
*.pyo
*.pyd


# Package Metadata

*.egg-info/
*.egg
**/build
**/dist
**/*.egg-info

# Temp and Log Files
*.log
*.swp
*.tmp
*.bak

# System and Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data and Configuration Files
*.db
*.sqlite3
*.env
.env.*


# Documentation and Tests
*.ipynb
README.md
LICENSE
docs/
tests/
test/

# Project-Specific Folders

screenshots/
valhalla_files/
