#Frontend
node_modules
# Ignore venvs
.venv/
venv/
env/

# Ignore bytecode python
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorae package metadata
**/build
**/dist
**/*.egg-info



# Ignorar system and editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Ignore temp files
*.swp
*.tmp
