MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="minioadmin"
MINIO_ENDPOINT="localhost:9000"

PGURI=postgresql+psycopg2://your_user:your_password@your_host:5432/your_database
SEMANTIC_EMBEDDINGS_URL="http://semantic-embeddings:8080"
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"
SEMANTIC_EMBEDDINGS_TIMEOUT_SECONDS="30"
